# Git
.git
.gitignore

# Python
__pycache__/
*.py[cod]
*.so
.Python
env/
venv/
.venv/

# IDE
.vscode/
.idea/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Documentation
README.md

rende.yml
Procfile
deploy.zip
deploy.sh
.deployement

# Local config (will be set via environment variables)
config/yoobumorph_config.json
